<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!--<script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>-->
    <title>FEND Capstone - Travel App</title>
</head>
<body>

    <header>
        <h1><i class="bi bi-geo-fill text-headline"></i> Travel Weather App</h1>
        <div class="intro">
            <p>Prepare for your getaway by checking the weather so you can pack accordingly!</p>
        </div>
    </header>

    <main id="inputs">
        <section class="inputs">
            <form onsubmit="return Client.handleSubmit(event)">
                <div class="city">
                    <label for="end">Where do you want to go?</label>
                    <input id="city" type="text" name="input" value="" placeholder="Enter a city">
                </div>

                <div class="start">
                    <label for="start"><i class="bi bi-calendar-event text-cal"></i> From:</label>
                    <input id="pickerstart" name="trip-start" value="yyyy-mm-dd">
                </div>
                <div class="end">
                    <label for="end"><i class="bi bi-calendar-week text-cal"></i> To:</label>
                    <input id="pickerend" name="trip-end" value="yyyy-mm-dd">
                </div>

                <button id="submit" type="submit" name="" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">Search</button>
            </form>
        </section>

        <section id ="results" class="results hide">
            <div class="loading-container">
                <svg id ="loading" class="spinner hide" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                </svg>
            </div>

            <div class="results-row-1">
                <div id="destination-pic" class="destination-pic hide">
                    <figure>
                        <img id="img">
                    </figure>
                    <figcaption id="figcaption"></figcaption>
                </div>
                <div id="current-weather">
                    <h3 id="location"></h3>
                    <div id="current">
                        <img id="current-icon">
                        <div class="weather-content">
                            <p id="current-temp" class="current-temp"></p>
                            <p id="description"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="results-row-2">
                <h3 id="forecast-title"></h3>
                <div id="forecast-weather">
                </div>
            </div>

            <div class="powered-by">
                <p>Powered by Geonames, Weatherbit & Pixabay</p>
            </div>
        </section>
    </main>

    <footer>
        <p><i class="bi bi-code-square"></i> Coded by <a href="https://www.constanzamorales.com">Coni</a> - Icons by <a href="https://icons.getbootstrap.com/"> <i class="bi bi-bootstrap"></i> Bootstrap Icons</a></p>
    </footer>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
                .then(reg => console.log('Service Worker: Registered!'))
                .catch(err => console.log('Error: ', err) )
            });
        }
    </script>

</body>
</html>