<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEND Capstone - Travel App</title>
</head>
<body>

    <header>Travel App</header>

    <div class="container">
        <section>
            <div class="date">
                <label for="start">Start date:</label>
                <input type="date" id="start" name="trip-start" value="yyyy-mm-dd" min="2021-01-01" max="2024-12-31">
            </div>

            <form onsubmit="return Client.handleSubmit(event)">
                <input id="city" type="text" name="input" value="" placeholder="Enter a city">
                <button id="submit" type="submit" name="" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">Search</button>
            </form>
        </section>

        <section class="results">
            <div id="results">
                <h3>Results:</h3>
                <ul>
                    <li id="data">Data: </li>
                </ul>
            </div>
        </section>
    </div>

    <footer>
        <p>Coded by Constanza</p>
    </footer>
    
</body>
</html>