$font: 'Fira Sans', Helvetica, sans-serif;
$primary-color: #526be8;
$darker-primary: #1935d2;
$secondary-color: #34b9f9;
$tertiary-color: #a3adce;
$accent-color: #fdb848;
$text-color: #000;
$font-weights: ('light': 300, 'regular': 400, 'bold': 700);
$mobile-max: 767px;
$tablet-max: 1024px;
$tablet-min: 768px;
