$font: 'Fira Sans', Helvetica, sans-serif;
$primary-color: #3ab0ff;
$secondary-color: #068d9d;
$tertiary-color: #f8f8f8;
$accent-color: #80ded9;
$text-color: #111111;
$bg-color: #fff;
$font-weights: ('light': 300, 'regular': 400, 'bold': 700);
$mobile: 800px;
