@import './resets';
@import './variables';

@function weight($weight-name) {
	@return map-get($font-weights, $weight-name);
}

@mixin flexCenter($direction) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

@mixin flexLeft($direction) {
	display: flex;
	justify-content: flex-start;
	flex-direction: $direction;
}

@mixin mainContainer() {
	background-color: white;
	padding: 30px;
	border-radius: 15px;
	box-shadow: 10px 10px 15px -2px rgba($tertiary-color, .1);
}

// Media query mixin for mobile
@mixin mobile {
	@media (max-width: $mobile-max) and (min-width: $mobile-min) {
		@content;
	}
}

// Media query mixin for mobile
@mixin tablet {
	@media (max-width: $tablet-max) and (min-width: $tablet-min) {
		@content;
	}
}

body {
	// Background gradient: https://cssgradient.io/
	background: rgb(255, 255, 255);
	background: linear-gradient(315deg, rgba(255, 255, 255, 1) 0%, rgba(244, 248, 251, 1) 100%);
	color: $text-color;
	font-family: $font;
	font-size: 1.1em;
	font-weight: weight(regular);
	width: 70%;
	margin: 0 auto;
	@include flexLeft(column);
}

header {
	color: $darker-primary;
	padding: 50px 0px;
	width: 100%;
	text-align: center;

	& h1 i.text-headline {
		color: $primary-color;
		font-size: 0.8em;
	}

	& p {
		font-size: 0.8em;
		padding-top: 15px;
		color: $text-color;
	}
}

form {
	@include flexLeft(row);
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	flex-grow: 1;
	padding-top: 10px;
}

label {
	padding-bottom: 8px;
	font-size: 0.9em;

	& i {
		font-size: 1.2em;
		padding-right: 4px;
		color: $tertiary-color;
	}
}

input {
	border: 1px solid $primary-color;
	border-radius: 10px;
	padding-left: 8px;
	font-size: 0.9em;
	width: 180px;
	height: 45px;

	&:hover {
		border: 1px solid $primary-color;
		box-shadow: 0px 0px 5px 3px rgba($primary-color, .15);
		transition: all 0.1s ease-in;
	}
	&:focus {
		border: 2px solid $primary-color;
		box-shadow: none;
		outline: none;
	}
	&:active {
		border: 2px solid $primary-color;
		box-shadow: none;
		outline: none;
	}
}

button {
	width: 180px;
	height: 42px;
	border-radius: 20px;
	background-color: $primary-color;
	color: white;
	border: none;
	margin-top: 8px;

	&:hover {
		background-color: $darker-primary;
		transition: all 0.1s ease-in;
		cursor: pointer;
	}
}

figcaption {
	font-size: 0.8em;
}

ul {
	list-style: none;
	@include flexCenter(column);
	& li {
		color: $primary-color;
		text-transform: uppercase;
		font-size: 0.7em;
	}

	& li.max-temp {
		color: $text-color;
		font-weight: weight(regular);
		font-size: 1.6em !important;
	}

	& li.min-temp {
		color: $text-color;
		font-weight: weight(light);
		font-size: 1em !important;
	}

	& img.weather-icon {
		width: 60px;
	}
}

footer {
	@include flexCenter(column);
	color: $tertiary-color;
	font-size: 0.9em;
	font-weight: weight(light);
	left: 0;
	bottom: 0;
	position: relative;
	width: 100%;
	padding: 50px 0px;

	& a,
	a:visited {
		color: $tertiary-color;
	}
}

.start,
.end,
.city {
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.inputs,
.results {
	@include mainContainer();
	margin-bottom: 20px;
}

.results-row-1 {
	@include flexLeft(row);
	flex-wrap: wrap;
	width: 100%;

	& .destination-pic img {
		width: 400px;
		margin-right: 40px;
		border-radius: 15px;

		@include mobile {
			width: 240px;
			margin-bottom: 20px;
		}

		@include tablet {
			width: 290px;
		}
	}
}

.results-row-2 {
	padding-top: 30px;
	@include flexLeft(column);

	& #forecast-weather {
		@include flexLeft(row);
		flex-wrap: wrap;

		justify-content: space-evenly;
		padding-top: 10px;
		width: 100%;

		& .day {
			padding: 10px 10px;
			margin: 10px 10px;
			width: 80px;
		}
	}
}

#location,
#forecast-title {
	font-size: 1.4em;
	color: $primary-color;
	@include mobile {
		width: 50%;
		font-size: 1.2em;
		margin-top: 30px;
	}
}

#current-weather {
	& #current {
		@include flexLeft(row);
		padding-top: 20px;
		font-size: 2em;
		align-items: center;
		flex-wrap: wrap;

		@include mobile {
			@include flexCenter(column);
			padding-top: 10px;
		}
	}
	& img#current-icon {
		width: 110px;
		margin-right: 20px;
	}
	& .weather-content {
		@include flexLeft(column);
		@include mobile {
			width: 200px;
			font-size: 0.8em;
		}
		& #description {
			font-weight: weight(light);
			font-size: 0.7em;
		}
	}
}

.powered-by {
	padding: 40px 0px 0px 0px;
	color: rgba($tertiary-color, .4);
	font-size: 0.8em;
	text-align: center;
	font-weight: weight(light);
	@include mobile {
		padding: 0px;
	}
}

.hide {
	display: none;
}

// Override Litepicker colors
:root {
	--litepicker-button-prev-month-color-hover: #53599a !important;
	--litepicker-button-next-month-color-hover: #53599a !important;
	--litepicker-day-color-hover: #53599a !important;
	--litepicker-is-start-color-bg: #53599a !important;
	--litepicker-is-end-color-bg: #53599a !important;
	--litepicker-button-apply-color-bg: #53599a !important;
	--litepicker-button-reset-color-hover: #53599a !important;
	--litepicker-container-months-box-shadow-color: #ddd;
}
